{% extends "layout.html" %}

{% block page_title %}
    Add applicant
{% endblock %}



    {% block content %}
        <form action="/add-applicants" method="POST">

{#            <label for="first_name">First name</label>#}
            <input type="text" id="first_name" name="first-name" placeholder="First name"><br><br>

{#            <label for="last_name">Last name</label>#}
            <input type="text" id="last_name" name="last-name" placeholder="Last name"><br><br>

{#            <label for="phone_number">Phone number</label>#}
            <input type="text" id="phone_number" name="phone-number" placeholder="Phone number"><br><br>
{##}
{#            <label for="email">Email</label>#}
            <input type="text" id="email" name="email" placeholder="Email"><br><br>

{#            <label for="application_code">Application code</label>#}
{#            <input type="text" id="application_code" name="application-code"><br><br>#}

            <button type="sumit">Submit</button>
        </form>
            




    {% endblock %}